resources:
- repo: self

trigger: none

pr:
- master

jobs:
- job: ConfigureCIRun
  pool:
    vmImage: 'ubuntu-16.04'
  steps:
  - script: |
      echo " - PR Build"
      if  git diff origin/master --name-only | grep -v "^doc" | grep -v "^experiments" | grep -v "\.md$"; then
        echo Src changes;
        echo "##vso[task.setvariable variable=docOnly;isOutput=true]false" #set variable to testRuntime to On
        echo "Determine if runtime changed."
        if git diff --quiet origin/master -- src/rt; then
          echo " - Runtime unchanged!"
          echo "##vso[task.setvariable variable=testRuntime;isOutput=true]Off" #set variable to testRuntime to Off
        else
          echo " - Runtime changed!"
          echo "##vso[task.setvariable variable=testRuntime;isOutput=true]On" #set variable to testRuntime to On
        fi
      else
        echo Doc changes only;
        echo "##vso[task.setvariable variable=docOnly;isOutput=true]true" #set variable to testRuntime to On
      fi
    displayName: 'Check for runtime changes'
    name: setVarStep
- job:
  displayName: Linux
  dependsOn: ConfigureCIRun
  condition: eq(dependencies.ConfigureCIRun.outputs['setVarStep.docOnly'], 'false')
  variables:
    RTTests: $[ dependencies.ConfigureCIRun.outputs['setVarStep.testRuntime'] ]
  pool:
    vmImage: 'ubuntu-18.04'
  strategy:
    matrix:
      GCC Release:
        CC: gcc
        CXX: g++
        CXXFLAGS:
        BuildType: Release
        Asan: Off
      Clang RelDbg+ASAN:
        CC: clang
        CXX: clang++
        CXXFLAGS: -stdlib=libstdc++
        BuildType: RelWithDebInfo
        Asan: On
  steps:
  - checkout: self
    submodules: recursive

  - script: |
      set -eo pipefail
      sudo apt-get update
      sudo apt-get install -y ninja-build
      sudo pip install wheel OutputCheck
    displayName: 'Dependencies'

  - task: CMake@1
    displayName: 'CMake'
    inputs:
      cmakeArgs: |
        .. -GNinja -DCMAKE_BUILD_TYPE=$(BuildType) -DCMAKE_C_COMPILER=$(CC) -DCMAKE_CXX_COMPILER=$(CXX) -DCMAKE_CXX_FLAGS=$(CXXFLAGS) -DENABLE_ASSERTS=ON -DUSE_ASAN=$(Asan) -DVERONA_CI_BUILD=On -DSNMALLOC_CI_BUILD=On -DRT_TESTS=$(RTTests)

  - script: |
      set -eo pipefail
      ninja install
    workingDirectory: build
    displayName: 'Compile'

  - script: |
      set -eo pipefail
      export ASAN_SYMBOLIZER_PATH=/usr/lib/llvm-6.0/bin/llvm-symbolizer
      export ASAN_OPTIONS="alloc_dealloc_mismatch=0 symbolize=1"
      ctest -j 4 -E "([1-9][0-9]00|[4-9]00)" --timeout 400 --output-on-failure
    workingDirectory: build
    displayName: 'Tests'

- job:
  displayName: Windows
  dependsOn: ConfigureCIRun
  condition: eq(dependencies.ConfigureCIRun.outputs['setVarStep.docOnly'], 'false')
  variables:
    RTTests: $[ dependencies.ConfigureCIRun.outputs['setVarStep.testRuntime'] ]

  pool:
    vmImage: 'windows-2019'
  strategy:
    matrix:
      Release:
        BuildType: Release

  steps:
  - checkout: self
    submodules: recursive

  - script:
      pip install OutputCheck
    displayName: 'Dependencies'

  - script: |
      mkdir build
      cd build
      cmake .. -G"Visual Studio 16 2019" -DENABLE_ASSERTS=ON -DVERONA_CI_BUILD=On -DSNMALLOC_CI_BUILD=On -DRT_TESTS=$(RTTests)
    displayName: 'CMake'

  - task: MSBuild@1
    displayName: 'Compile'
    inputs:
      solution: build/INSTALL.vcxproj
      msbuildArguments: '/m /p:Configuration=$(BuildType)'

  - script: |
      ctest -j 4 -E "([1-9][0-9]00|[4-9]00)" --timeout 400 --output-on-failure --interactive-debug-mode 0 -C $(BuildType)
    workingDirectory: build/
    displayName: 'Tests'

  - task: ms.vss-governance-buildtask.governance-build-task-component-detection.ComponentGovernanceComponentDetection@0
    displayName: 'Component Detection'
    inputs:
      failOnAlert: true

- job:
  displayName: macOS
  dependsOn: ConfigureCIRun
  condition: eq(dependencies.ConfigureCIRun.outputs['setVarStep.docOnly'], 'false')
  variables:
    RTTests: $[ dependencies.ConfigureCIRun.outputs['setVarStep.testRuntime'] ]

  pool:
    vmImage: 'macOS-10.14'
  strategy:
    matrix:
      Release:
        BuildType: Release

  steps:
  - checkout: self
    submodules: recursive

  - script: |
      set -eo pipefail
      sudo pip install wheel OutputCheck
    displayName:  'Dependencies'

  - task: CMake@1
    displayName: 'CMake'
    inputs:
      cmakeArgs: |
        .. -DCMAKE_BUILD_TYPE=$(BuildType) -DENABLE_ASSERTS=ON -DVERONA_CI_BUILD=On -DSNMALLOC_CI_BUILD=On -DRT_TESTS=$(RTTests)

  - script: |
      set -eo pipefail
      make -j 4 install
    workingDirectory: build
    displayName: 'Compile'

  - script: |
      set -eo pipefail
      ctest -j 4 -E "([1-9][0-9]00|[4-9]00)" --timeout 400 --output-on-failure
    workingDirectory: build/
    displayName: 'Tests'

- job:
  displayName: Format
  pool:
    vmImage: 'ubuntu-18.04'
  steps:
  - checkout: self
    submodules: recursive

  - script: |
      set -eo pipefail
      wget -O - https://apt.llvm.org/llvm-snapshot.gpg.key | sudo apt-key add -
      sudo apt-add-repository "deb http://apt.llvm.org/bionic/ llvm-toolchain-bionic-9 main"
      sudo apt-get update
      sudo apt-get install -y clang-format-9 clang-tidy-9
      sudo update-alternatives --install /usr/bin/clang-format clang-format /usr/bin/clang-format-9 100

    displayName: 'Install Clang tools'

  - task: CMake@1
    displayName: 'CMake'
    inputs:
      cmakeArgs: '..'

  - script: |
      set -eo pipefail
      make clangformat
      git diff --exit-code $(Build.SourceVersion)
    workingDirectory: build
    displayName: 'Clang-Format'

  - script: |
      set -eo pipefail
      files=`git ls-files -- '*.cpp' '*.cc' '*.h' '*.hh' '*.verona'| xargs`
      grep -L "Copyright Microsoft and Project Verona Contributors."  $files | tee header_missing
      [ ! -s header_missing ]
      grep -L "SPDX-License-Identifier: MIT" $files | tee header_missing
      [ ! -s header_missing ]
    displayName: 'Check Copyright and License'
