[submodule "src/rt/external/snmalloc"]
	path = src/rt/external/snmalloc
	url = https://github.com/Microsoft/snmalloc
	branch = master
[submodule "external/pegmatite"]
	path = external/pegmatite
	url = https://github.com/CompilerTeaching/Pegmatite
[submodule "external/CLI11"]
	path = external/CLI11
	url = https://github.com/CLIUtils/CLI11
[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "external/cpp-peglib"]
	path = external/cpp-peglib
	url = https://github.com/yhirose/cpp-peglib.git
	branch = master
