---
---
@import "{{ site.theme }}";

nav.navbar
{
	margin: 0 auto;
	width: fit-content;
}

nav.navbar a
{
	float:left;
	background-image: linear-gradient(White, LightGrey);
	display: inline-block;
	color: Black;
	font-weight: bold;
	padding: 1em;
	border-style: solid;
	border-width: 1px;
	border-right-style: none;
	border-color: LightGrey;
	margin: 0px;
}
nav.navbar a:first-child
{
	border-top-left-radius: 1em;
	border-bottom-left-radius: 1em;
}
nav.navbar a:last-child
{
	border-right-style: solid;
	border-right-width: 1px;
	border-top-right-radius: 1em;
	border-bottom-right-radius: 1em;
}

div.blognav
{
	font-size: 14px;
	display: block;
	width: 100%;
	overflow: hidden;
}

div.blognav a
{
	display: block;
	width: 50%;
	float: left;
	margin: 1em 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
div.blognav a:hover
{
	overflow: visible;
}

div.blognav a.next
{
	float: right;
	text-align: right;
}
div.blognav a.prev::before
{
	content: "\00AB ";
}
div.blognav a.next::after
{
	content: " \00BB";
}

div.person
{
	display: inline-block;
	margin-left: 2em;
	margin-right: 2em;
}

div.person img.face
{
	max-width: 120px;
	max-height: 100%;
	overflow: hidden;
	border-radius: 50%;
	box-shadow: 5px 5px 8px #888;
}
div.person span.no-face
{
	width: 120px;
	height: 120px;
	display: block;
	font-size: 72px;
	text-align: center;
	max-width: 120px;
	max-height: 100%;
	overflow: hidden;
	border-radius: 50%;
	color: black;
	box-shadow: 5px 5px 8px #888;
}
div.person span.no-face:hover
{
	box-shadow: 10px 10px 8px #888;
}
div.person img.face:hover
{
	box-shadow: 10px 10px 8px #888;
}
div.person a.person-name
{
	display: block;
	text-align: center;
}

h1.blog
{
	margin-bottom: 0px;
}
p.author
{
	margin-top: 0px;
	text-align: right;
	width: 100%;
}
p.author::before
{
	content: 'by ';
	font-style: italic;
}
p.author span.author::after
{
	content: ', ';
}
p.author span.author:last-child::after
{
	content: '';
}
p.author span.author:last-child::before
{
	content: 'and ';
}
