name: BuildAndTest

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build-test:
    strategy:
      matrix:
        platform: [ "ubuntu-latest", "macos-latest", "windows-latest" ]
        build-type: [ "Release", "Debug" ]
  
        # Extra cmake flags.  GitHub Actions matrix overloads `include` to mean
        # 'add extra things to a job' and 'add jobs'.  You can add extra things
        # to a job by specifying things that exist in a job created from the
        # matrix definition and adding things.  You can specify extra jobs by
        # specifying properties that don't match existing jobs.  We use
        # `cmake-flags` to add cmake flags to all jobs matching a pattern and
        # `extra-cmake-flags` to specify a new job with custom CMake flags.
        extra-cmake-flags: [ "" ]

        include:
        - platform: "ubuntu-latest"
          cmake-flags: "-G Ninja -DCMAKE_CXX_COMPILER=clang++ -DCMAKE_C_COMPILER=clang"
          dependencies: "sudo apt install ninja-build"
        - platform: "ubuntu-latest"
          variant: "GCC"
          cmake-flags: "-G Ninja"
          dependencies: "sudo apt install ninja-build"
        - platform: "ubuntu-latest"
          variant: "asan"
          cmake-flags: "-G Ninja -DCMAKE_CXX_COMPILER=clang++ -DCMAKE_C_COMPILER=clang -DVERONA_SANITIZER=address"
          dependencies: "sudo apt install ninja-build"
        - platform: "ubuntu-latest"
          variant: "ubsan"
          cmake-flags: "-G Ninja -DCMAKE_CXX_COMPILER=clang++ -DCMAKE_C_COMPILER=clang -DVERONA_SANITIZER=undefined"
          dependencies: "sudo apt install ninja-build"
  
      fail-fast: false
  
    runs-on: ${{matrix.platform}}
    name: ${{ matrix.platform }} ${{ matrix.build-type }} ${{ matrix.variant }}
    steps:
    - uses: actions/checkout@v3
    
    - name: Install build dependencies
      run: ${{ matrix.dependencies }}

    - name: Configure CMake
      run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{matrix.build-type}} ${{matrix.cmake-flags}}

    - name: Build
      # Build your program with the given configuration
      run: cmake --build ${{github.workspace}}/build --config ${{matrix.build-type}}

    - name: Test
      working-directory: ${{github.workspace}}/build
      # Execute tests defined by the CMake configuration.
      # See https://cmake.org/cmake/help/latest/manual/ctest.1.html for more detail
      run: ctest -C ${{matrix.build-type}} --output-on-failure --timeout 400 --interactive-debug-mode 0 

